body {
  margin: 0;
  background-image: url("https://i.pinimg.com/736x/56/d6/df/56d6df45ae3b12b895e11cea27f98d62.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

fieldset {
  border: none;
}
h1,
p {
  text-align: center;
}
form {
  min-width: 50%;
  max-width: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  margin: 0 auto;
}
label {
  display: block;
  margin: 0 0 1rem 0;
}
.l2 {
  margin: 1rem 0 0.5rem 0;
}
input,
select,
textarea {
  width: 100%;
  margin: 0.5rem 0 0 0;
  height: 2rem;
}
textarea {
  resize: vertical;
}
input[type="radio"],
input[type="checkbox"] {
  width: 4vh;
  height: 4vh;
  vertical-align: middle;
  margin: 0 0.5rem 0 0;
}
.yo {
  margin: 0.5rem 0;
}
