* {
  font-family: arial, "sans-serif";
}
body {
  margin: 0;
  padding: 0;
  background-color: #66b2b2;
}
#header {
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #66b2b2;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}
#header p {
  margin-top: 1.5rem;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}
.image {
  display: flex;
  align-items: center;
}
img {
  margin: 0 5%;
}
#header li {
  list-style-type: none;
  display: inline;
  margin: 1rem;
  font-size: 1.8rem;
}
a {
  transition: 0.3s ease-in;
  color: black;
  text-decoration: none;
}
#header ul {
  position: absolute;
  right: 5%;
  margin-top: -1rem;
}
nav {
  align-items: center;
  display: flex;
}
nav a:hover {
  color: white;
  font-size: 2rem;
}
#header p:hover {
  color: white;
  cursor: pointer;
}
#form {
  height: 30%;

  position: absolute;
  top: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}
#email {
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  height: 35%;
  padding: 10px;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}
#email:hover {
  color: black;
  cursor: pointer;
  background-color: #b2d8d8;
}
input::placeholder {
  color: black;
  font-size: 2rem;
}
input {
  font-size: 2rem;
}
#submit {
  border: 1px solid black;
  background: transparent;
  width: 20%;
  height: 30%;
  padding: 5px;
  border-radius: 2rem;
  transition: background-color 0.5s ease-in;
}
#submit:hover {
  cursor: pointer;
  background-color: #b2d8d8;
}
.main {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}
.main h1 {
  transition: 0.5s linear;
}
.main h1:hover {
  cursor: pointer;
  color: #004c4c;
}
#featur {
  width: 90%;
  padding: 0 auto;
  font-size: 2rem;
}
.f-h1 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 8% 0 8%;
}
.f-h1 i {
  grid-row: 1/3;
  margin: 1rem 1rem 0rem 5rem;
}
.f-h1 h1 {
  grid-column: 2/4;
  margin-bottom: -1rem;
}
.s-h1 {
  display: grid;
  margin: 0 8% 0 8%;
  grid-template-columns: auto auto auto;
}
.s-h1 i {
  grid-row: 1/3;
  margin: 1rem 1rem 0rem 5rem;
}
.s-h1 h1 {
  grid-column: 2/4;
  margin-bottom: -1rem;
}
.t-h1 {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 8% 0 8%;
}
.t-h1 i {
  grid-row: 1/3;
  margin: 1rem 1rem 0 5rem;
}
.t-h1 h1 {
  grid-column: 2/4;
  margin-bottom: -1rem;
}

#how {
  margin: 1rem 0;
  width: 70%;
  height: 600px;
}
#how iframe {
  margin: 0;
  width: 100%;
  height: 600px;
}

#price {
  font-size: 2rem;
  margin-top: 4rem;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.pr li {
  width: 100%;
  list-style-type: none;
}
.pr ul {
  padding: 0;
  margin: -1rem 0 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.pr {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: center;

  border-radius: 1rem;
}
.pr h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(215, 215, 215, 0.5);
}
.btn {
  font-size: 2rem;
  width: 70%;
  height: 55px;
  margin: 0 auto;
  background-color: grey;
  border: none;
  border-radius: 2rem;
  transition: 0.5s ease-in background;
}
.btn:hover {
  background: #006666;
  color: white;
}
.footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: max-content;

  background-color: #004c4c;
}
.footer .priv {
  text-align: center;
}
.footer p {
  margin-bottom: 1rem;
}
.footer p:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
  color: #b2d8d8;
}

@media screen and (max-width: 1000px) {
  .f-h1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 5%;
  }
  .f-h1 i {
    grid-row: 1/3;
    margin: 1.1rem 1rem 0 1rem;
  }
  .f-h1 h1 {
    grid-column: 2/4;
    margin-bottom: -1rem;
  }
  .s-h1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 5%;
  }
  .s-h1 i {
    grid-row: 1/3;
    margin: 1.1rem 1rem 0 1rem;
  }
  .s-h1 h1 {
    grid-column: 2/4;
    margin-bottom: -1rem;
  }
  .t-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .t-h1 i {
    grid-row: 1/3;
    margin: 1.1rem 1rem 0 1rem;
  }
  .t-h1 h1 {
    grid-column: 2/4;
    margin-bottom: -1rem;
  }
  iframe {
    height: 500px;
  }
}
@media screen and (max-width: 760px) {
  #submit {
    width: 30%;
    height: 2.5rem;
  }
  input::placeholder {
    font-size: 1.5rem;
  }
  input {
    font-size: 1rem;
  }
  #email {
    height: 3rem;
  }
  #header {
    display: grid;
    grid-template-rows: 75px 75px;
    width: 100%;
    height: 150px;
  }
  #header .image {
    grid-row: 1/2;
  }
  #header nav {
    grid-row: 2/2;
  }
  #featur {
    width: 90%;
    padding: 0 auto;
    font-size: 1rem;
  }
  .f-h1 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .f-h1 i {
    grid-row: 1/3;
    margin: 1.5rem 1rem 0 1rem;
  }
  .f-h1 h1 {
    grid-column: 2/4;
    margin-bottom: -1rem;
  }
  .s-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .s-h1 i {
    grid-row: 1/3;
    margin: 1.5rem 1rem 0 1rem;
  }
  .s-h1 h1 {
    grid-column: 2/4;
    margin-bottom: -1rem;
  }
  .t-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .t-h1 i {
    grid-row: 1/3;
    margin: 1.5rem 1rem 0 1rem;
  }
  .t-h1 h1 {
    grid-column: 2/4;
    margin-bottom: -1rem;
  }
  #how {
    background-color: red;
    width: 70%;
    height: 300px;
  }
  #how iframe {
    width: 100%;
    height: 300px;
  }
  #price {
    width: 70%;
    margin-top: 1rem;
    display: block;
  }
  #price .pr {
    margin-top: 1rem;
  }
  #price {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #submit {
    width: 35%;
  }
  #email {
    width: 65%;
  }

  #header ul {
    padding-bottom: 4rem;
  }
  #header li {
    list-style-type: none;
    display: block;
    margin: 0.1rem;
  }

  img {
    margin: 0 0 -2rem 0;
  }
  header .image {
    margin-top: 2.5rem;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
    margin-left: 1rem;
  }
  #header p {
    margin-top: 0.5rem;
    font-size: 1.7rem;
  }
  #featur {
    margin: 0;
    width: 100%;
    padding: 0 auto;
    font-size: 1rem;
  }
  .f-h1 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .f-h1 i {
    grid-row: 1/3;
    margin: 2.5rem 0rem 0 1rem;

    width: max-content;
  }
  .f-h1 h1 {
    grid-column: 2/4;
    margin: 2.5rem 0 0rem -4rem;
    font-size: 2rem;
  }
  .f-h1 p {
    margin-top: 1.5rem;
    grid-column: 1/4;
    text-align: justify;
    font-size: 1.3rem;
  }
  .s-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .s-h1 i {
    grid-row: 1/2;
    margin: 2.5rem 0rem 0 1rem;
    width: max-content;
  }
  .s-h1 h1 {
    grid-column: 2/4;
    margin: 2.5rem 0 0rem -4.5rem;
    font-size: 2rem;
  }
  .s-h1 p {
    margin-top: 1.5rem;
    grid-column: 1/4;
    text-align: justify;
    font-size: 1.3rem;
  }
  .t-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .t-h1 i {
    grid-row: 1/2;
    margin: 2.5rem 0rem 0 1rem;
    width: max-content;
  }
  .t-h1 h1 {
    grid-column: 2/4;
    margin: 2.5rem 0 0rem -4.5rem;
    font-size: 2rem;
  }
  .t-h1 p {
    font-size: 1.3rem;
    margin-top: 1.5rem;
    grid-column: 1/4;
    text-align: justify;
  }
}
@media screen and (max-width: 250px) {
  #submit {
    width: 45%;
  }
  #featur {
    margin: 0;
    width: 100%;
    padding: 0 auto;
    font-size: 1rem;
  }
  .f-h1 {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .f-h1 i {
    grid-row: 1/3;
    margin: 2.5rem 1rem 0 0.3rem;
  }
  .f-h1 h1 {
    grid-column: 2/4;
    margin: 2rem 0 -1rem 0;
    font-size: 1rem;
  }
  .f-h1 p {
    margin-top: 1.5rem;
    grid-column: 1/4;
    text-align: justify;
  }
  .s-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .s-h1 i {
    grid-row: 1/2;
    margin: 1.5rem 1rem 0 0.3rem;
  }
  .s-h1 h1 {
    grid-column: 2/4;
    margin: 2rem 0 -1rem 0;
    font-size: 1rem;
  }
  .s-h1 p {
    margin-top: 1.5rem;
    grid-column: 1/4;
    text-align: justify;
  }
  .t-h1 {
    display: grid;
    margin: 0 5%;
    grid-template-columns: auto auto auto;
  }
  .t-h1 i {
    grid-row: 1/3;
    margin: 1.5rem 1rem 0 0.3rem;
  }
  .t-h1 h1 {
    grid-column: 2/4;
    margin: 2rem 0 -1rem 0;
    font-size: 1rem;
  }
  .t-h1 p {
    margin-top: 1.5rem;
    grid-column: 1/4;
    text-align: justify;
  }
  #email {
    width: 75%;
  }
  #header li {
    list-style-type: none;
    display: block;
    margin: 0.1rem;
  }
  img {
    margin: 0 0 -2rem 0;
  }
  header .image {
    display: grid;
    grid-template-rows: auto auto;
    gap: 0;
    margin-left: 1rem;
  }
  .footer p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 200px) {
  #header {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    clear: both;
  }
  #header li {
    list-style-type: none;
    display: inline;
    font-size: 1rem;
  }
  img {
    margin: 0;
    padding: 0;
    width: 70px;
    height: 50px;
  }
  .header ul {
    background-color: red;
    z-index: 9;
  }
  #email {
    margin-top: 1rem;
  }
  nav {
    margin-top: 0.5rem;

    top: 51px;
    left: -2rem;
    position: absolute;
    clear: both;
    height: 50px;
    grid-column: 1/2;

    width: 100vw;
  }
  .image p {
    margin-top: -1rem;
  }
  #header .image {
    position: absolute;
    top: 0;
    grid-column: 1/2;
    width: 100;
    height: 50px;
    display: grid;
    grid-row: 1/2;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
  }
}
